*{
    margin: 0px;
    text-align: center;
}

body{
    background-color: green;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.stick{

    height: 80px;
    width: 20px;
    background-color: blueviolet;
    margin: auto;
    position: relative;
    top: 10px;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #000;
    border-top: 15px #000;
    z-index: 1000;
}

img{
    z-index: 100;
    transition: all 5s;
}

#premio{

    color: white;
    position: absolute;
    font-size: 35px;
    padding-top: 20px;
    padding: 20px;

}

